<div class="pa-header">
<h3>气泡<span class="js-specific">bubble.js</span></h3>
<p>bubble.js</p>
</div>
<h4 class="lead">
	普通气泡(点击图标或者文字显示气泡)
</h4>
<div class="bs-example" style="text-align:center;">
		<span class="ndp-bubble-wrapper" name="pic"></span>
</div>
<div class="highlight">
	<pre class="prettyprint">
		<code class="language-js">
&lt;span class="ndp-bubble-wrapper" name="pic"&gt;&lt;/span&gt;		
		</code>
	</pre>	
	<pre class="prettyprint">
		<code class="language-js">
$(".ndp-bubble-wrapper[name='pic']").bubble({
	type:1,//默认1 普通的气泡
	title:"hello world 123",//标题，内容决定 标题是否显示
	icon:'../assets/cover1.jpg',//触发 显示气泡的dom 内容，图片或者 字体都行
	//气泡内显示的内容
	content:'How to position the popover For example, if placement is "auto left", the popover will display to the left when possible, otherwise it will display right.'
});	
		</code>
	</pre>
</div>


<h4 class="lead">
	confirm气泡(带确定，取消按钮)
</h4>
<div class="bs-example" style="text-align:center;">
		<span class="ndp-bubble-wrapper" name="gra"></span>
</div>
<div class="highlight">
	<pre class="prettyprint">
		<code class="language-js">
&lt;span class="ndp-bubble-wrapper" name="gra"&gt;&lt;/span&gt;		
		</code>
	</pre>	
	<pre class="prettyprint">
		<code class="language-js">
$(".ndp-bubble-wrapper[name='gra']").bubble({
	type:2,//气泡 包含尾部两个 确定，取消按钮 
	icon:'&lt;i class="glyphicon glyphicon-home"&gt;&lt;/i&gt;',
	content:'How to position the popover For example, if placement is "auto left", the popover will display to the left when possible, otherwise it will display right.'
});	
		</code>
	</pre>
</div>


<h4 class="lead">
	普通气泡，配置位置
</h4>
<div class="bs-example" style="text-align:center;">
		<span class="ndp-bubble-wrapper" name="gra1"></span>
</div>
<div class="highlight">
	<pre class="prettyprint">
		<code class="language-js">
&lt;span class="ndp-bubble-wrapper" name="gra1"&gt;&lt;/span&gt;		
		</code>
	</pre>	
	<pre class="prettyprint">
		<code class="language-js">
$(".ndp-bubble-wrapper[name='gra1']").bubble({
	type:1,
	placement:"top",//气泡显示的位置  top, left,bottom,right   四个值
	icon:'&lt;i class="glyphicon glyphicon-home"&gt;&lt;/i&gt;',//显示一个字体图标
	content:'How to position the popover For example, if placement is "auto left", the popover will display to the left when possible, otherwise it will display right.'
});
		</code>
	</pre>
</div>


<h4 class="lead">
	confirm气泡完整状态
</h4>
<div class="bs-example" style="text-align:center;">
		<span class="ndp-bubble-wrapper" name="gra2"></span>
</div>
<div class="highlight">
	<pre class="prettyprint">
		<code class="language-js">
&lt;span class="ndp-bubble-wrapper" name="gra2"&gt;&lt;/span&gt;		
		</code>
	</pre>	
	<pre class="prettyprint">
		<code class="language-js">
$(".ndp-bubble-wrapper[name='gra2']").bubble({
	type:2,//2 confirm 气泡
	title:"hello world 123",//显示标题，标题内容是
	icon:'&lt;i class="glyphicon glyphicon-home"&gt;&lt;/i&gt;',
	content:'How to position the popover For example, if placement is "auto left", the popover will display to the left when possible, otherwise it will display right.'
});	
		</code>
	</pre>
</div>

