<div class="pa-header">
<h2>下拉选项</h2>
</div>
<h4 class="lead">
	普通下拉
</h4>
<div class="bs-example bs-example2">
	<div class="dropdown drop2-wrapper" name="aa"></div>
</div>
<div class="highlight">
	<pre class="prettyprint">
		<code class="language-html">
&lt;div class="dropdown drop2-wrapper" name="aa"&quot;&gt;&lt;/div&gt;
		</code>
	</pre>
	<pre class="prettyprint">
		<code class="language-js">
$(".dropdown.drop2-wrapper[name='aa']").drop2({
	id:"meme",
	caret:"&lt;i class='glyphicon glyphicon-menu-down'&gt;&lt;/i&gt;",
	label:"文字drop测试",
	data:[
		  {label:"用户设置"},
		  {label:"修改密码"},
		  {label:"接触绑定"},
		  {label:"退出"}
		 ]
});
		</code>
	</pre>
</div>
<h4 class="lead">
	多级选项
</h4>
<div class="bs-example bs-example2">
	<div class="dropdown drop2-wrapper" name="bb"></div>
</div>
<div class="highlight">
	<pre class="prettyprint">
		<code class="language-html">
&lt;div class="dropdown drop2-wrapper" name="bb"&quot;&gt;&lt;/div&gt;
		</code>
	</pre>
	<pre class="prettyprint">
		<code class="language-js">			
$(".dropdown.drop2-wrapper[name='bb']").drop2({
	id:"meme",
	caret:"&lt;i class='glyphicon glyphicon-menu-down'&gt;&lt;/i&gt;",
	label:"多级菜单",
	data:[
		  {label:"标题1",
		   sub:[
			  {label:"中国"},
			   {label:"美国"},
			   {label:"饿国"}
		  ]},
		  {label:"标题2",
		   sub:[
			 {label:"中国1"},
			  {label:"中国2"},
			  {label:"中国3"}
		  ]}
		 ]
}).on("item_click",function(e,data){
	console.log(data);
});			
		</code>
	</pre>
</div>

<h4 class="lead">
	下拉选项--选择/更新
</h4>
<div class="bs-example bs-example2">
	<div class="dropdown drop2-wrapper" name="cc"></div>
</div>
<div class="highlight">
	<pre class="prettyprint">
		<code class="language-html">
&lt;div class="dropdown drop2-wrapper" name="cc"&quot;&gt;&lt;/div&gt;
		</code>
	</pre>
	<pre class="prettyprint">
		<code class="language-js">			
$(".dropdown.drop2-wrapper[name='cc']").drop2({
	type:2,
	id:"meme2",
	caret:"<i class='glyphicon glyphicon-menu-down'></i>",
	label:{label:"用户设置"},
	data:[
		  {label:"用户设置"},
		  {label:"修改密码"},
		  {label:"接触绑定"},
		  {label:"退出"}
		 ]
}).on("item_click",function(e,data){
	console.log(data);
});			
		</code>
	</pre>
</div>	
	
		
	